/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.container {
    width: 70%;
    margin: auto;
}

/* HEADER */
header {
    /* TEST */
    background-color: yellowgreen
    height: 350px;
}

.header-top-flex {
    background-color: #daa520;
    display: flex;
    height: 25px;
    width: 660px;

}

.header-top {
    background-color: #add8e6;
    /* TEST */
    height: 45px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-bottom {
    background-color: #00008b;
    /* TEST */
    height: 305px;
}


.logo, nav, .login {
    border: 2px dashed black;
    font-size: 12px;
    padding: 5px;
}

/* LOGO */
.logo {
    width: 20%;
}
/* NAV */
nav {
    width: 60%;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.menu li {
    padding: 0 10px;
}
/* LOGIN */
.login {
    width: 20%;
    text-align: right;

}

/* MAIN */
main {
    /* TEST */
    background-color: pink;
    height: 950px;
}

.section-1, .section-3 {
    background-color: white;
    /* TEST */
    height: 200px;

}

.section-2 {
    background-color: #d3d3d3;
    /* TEST */
    height: 200px;
}

.section-4 {
    background-color: #d3d3d3;
    /* TEST */
    height: 350px;
}

footer {
    /* TEST */
    background-color: green;
    height: 250px;
}

.footer-top {
    background-color: #23272a;
    /* TEST */
    height: 220px;
    border-bottom: 2px solid white ;
}

.footer-bottom {
    background-color: #23272a;
    /* TEST */
    height: 30px;
}